body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: black;
}

.custom-navbar {
  background-color: #333;
  color: white;
}

.nav-item.nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

.nav-item.nav-link:hover {
  color: #ccc; 
}

.intro-section {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
}

.intro-text {
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  text-align: center; 
  color: #fff;
  padding: 20px;
  border-radius: 10px; 
  min-height: 100vh; 
}

.intro-text p {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 1rem; 
}

.btn-explore {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-explore:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

/* Review page CSS */

.review-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.review-card .card-header {
  font-size: 1.25rem;
  color: #333;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.review-card .card-body {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

.review-card .card-footer {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end; 
}

.review-card .card-footer button {
  margin-left: 10px;
}

/* Responsive card columns */
.review-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 576px) {
  .review-card {
      margin-right: 0;
      margin-left: 0;
      width: calc(50% - 1rem); /* 2 cards per row with gap on small devices */
  }
}

@media (min-width: 768px) {
  .review-card {
      width: calc(33.333% - 1rem); /* 3 cards per row with gap on medium devices */
  }
}

/* Main Content alignment and padding */
.container {
  padding-top: 20px;
}

/* Form styling */
.form-group label {
  color: #666;
}

/* Table styling */
.table th, .table td {
  text-align: center; /* Center-align table headers and cells */
}

/* Button styling */
.btn-primary {
  width: 100%; /* Full-width button */
}



